@use 'fonts.scss';

@use "var.scss" as var;

* {
  font-family: 'RobotoGoogleFont';
  font-weight: 600;
  font-style: italic;
}

html {
  background: url('../assets/bg-griddots.png') #ffffff repeat;
}

.hello {
  color: var.$primary-color;
}